/*CSS Reset */
*{
    margin: 0;
    padding: 0;
}

html{
    scroll-behavior: smooth;
}

/*CSS Variables */
:root{
    --navbar-height: 59px;
}

/*Navigation Bar */
#navbar{
     display: flex;
     align-items: center;
     position: sticky;
     top: 0px;
     
}

#navbar::before{
    content: "";
    background-color: black;
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity:0.7;

}

/* Navigation Bar: Logo and Image */
#logo{
    margin: 10px 20px;
}

#logo img{
    height: 59px;
    margin: 3px 6px;
}

/* Navigation Bar: List Styling*/
#navbar ul{
    /* color: white; */
    display: flex;
    list-style: none;
    font-size: 1.3rem;
}

#navbar ul li a{
    color: rgb(237, 90, 90);
    display: block;
    padding: 3px 22px;
    border-radius: 20px;
    text-decoration: none;
}

#navbar ul li a:hover{
    color: black;
    background-color: white;
}

/*Home section*/
#home{
    display: flex;
    flex-direction: column;
    padding: 10px 190px;
    height: 610px;
    justify-content: center;
    align-items: center;
}

#home::before{
    content: "";
    position: absolute;
    background: url("../6.jpeg") no-repeat center center/cover;
    height: 100%;
    top: 0px;
    left: 0px;
    width: 100%;
    z-index: -1;
    opacity: 0.89;

}

#home h1{
    color: black;
    text-align: center;

}

#home p{
    color: black;
    text-align: center;
    font-size: 1.5rem;
}
/*Services section */
#services{
    margin: 34px;
    display: flex;
}
#services .box{
    border: 2px solid brown;
    padding: 34px;
    margin: 3px 6px;
    border-radius: 28px;
    background-color: rgb(220, 214, 214);
    cursor: pointer;

}
#services .box img{
    height: 160px;
    margin: auto;
    display: block;
}
#services .box p{
    font-family: 'Bree Serif', serif;
}
#services{}
#services{}
#services{}

/* Clients Section*/
#client-section{
    height: 344px;
    position: relative;
}

#client-section::before{
    content: "";
    position: absolute;
    background: url('../bg2.jpg') no-repeat center center/cover;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.7;
}
#clients{
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.client-item{
    padding: 34px;
    margin: 3px 6px;
}

#client img{
    height: 124px;
}
/* Contact section */
#contact{
    position: relative;
}
#contact::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.7;
    background: url(../7.jpg) no-repeat center center/cover;
}
#contact-box{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 34px;
}

#contact-box input,
#contact-box textarea{
    width: 100%;
    padding: 0.5rem;
    border-radius: 9px;
    font-size: 1.5rem;
}

#contact-box form{
    width: 40%;
}

#contact-box label{
    font-size: 1.3rem;
}

footer{
    background: black;
    color: white;
    padding: 9px 20px;


}

/*utility classes */
.h-primary{
    font-size: 3.8rem;
    padding: 12px;
}
.h-secondary{
    font-size: 2.8rem;
    padding: 12px;
}
.btn{
    padding: 6px 20px;
    border: 2px solid white;
    background-color: brown;
    color: white;
    margin: 17px;
    font-size: 1.5rem;
    border-radius: 10px;
    cursor: pointer;
}

.center{
    text-align: center;
}